body{
    background: url("images/bg.png") #33373C;
}

/*
 * Tools样式
 */

.fl{
    float: left;
}

.fr{
    float: right;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}


/*
 * 基础样式
 */


.container{
    max-width: 960px;
    min-width: 930px;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
}

/*
 * 登陆表单
 */
#userForm{
    width: 300px;
    margin: 100px auto;
    border: 1px solid #FFF;
    padding: 30px 150px;
    border-radius: 5px;
    box-shadow: #fff 0 0 50px;
}
#userForm h1{
    color: #FFF;
    text-align: center;
}
#userForm div{
    margin: 10px 0;
}
#userForm input{
    padding: 10px;
    width: 275px;
}
#userForm button{
    padding: 10px;
    display: block;
    width: 300px;
    border: 0;
}
#userForm button:hover{
    background: #CFEFAC;
    transition: background 0.3s;
}
/*
 * App样式
 */
.app-header{
    color: #FFF;
    margin: 20px 0;
}

.app-header h2{
    margin: 0 15px;
}

#logout{
    font-size: 12px;
    text-decoration: underline;
    color: #DFDFDF;
}
#logout:hover{
    color: #FFF;
}

/*
 * friendList,好友列表
 */
.friendsList{
    list-style: none;
    border: 1px solid #EFEFEF;
    float: left;
    width: 320px;
    background: #DFDFDF;
    height: 480px;
    border-radius: 3%;
}

.friendsList a{
    color: #666;
}

.friendsList-header a{
    float: left;
    text-align: center;
    width: 159px;
    padding: 20px 0;
}

.friendsList-header a:first-child{
    border-right: 2px solid #EFEFEF;
}

.friendsList .list{
    background: #FFFFFF;
    height: 380px;
    overflow: auto;
}

.friendsList li a{
    display: block;
    padding: 20px;
}

.friendsList li a{
    border-bottom: 1px solid #EEE;
}

.friendsList li a.active{
    background: #c0c0c0;
    color: #000;
}

.friendsList li a.notify{
    background: #CFEFAC;
}

/*
 * 右侧框
 */

.rightContent{
    float: right;
    border: 1px solid #EFEFEF;
    width: 600px;
    height: 480px;
    background: #DFDFDF;
    border-radius: 3%;
}

.rightContent header h3{
    text-align: center;
    padding: 1px 20px;
}

.content{
    padding: 10px;
    height: 360px;
    background: #FFF;
    overflow: auto;
}
.sendMessage button[type=submit]{
    background: #c0c0c0;
}
.sendMessage button[type=submit]:hover{
    background: #333;
}
/*
 * 发起群聊内容
 */
.newChatRoom .showCount{
    font-size: 12px;
    color: #999;
    margin-top: 3px;
}
.showCount output{
    color: #000;
}
.selectMembers label{
    float: left;
    width: 80px;
    padding: 5px;
    text-align: center;
    margin: 10px;
    border: 1px solid #c0c0c0;
    color: #999;
    background: #EFEFEF;
    cursor: pointer;
}
.selectMembers label.active{
    background: #c0c0c0;
    color: #000;
    border: 1px solid #333;
}

.selectMembers input[type=checkbox]{
    display: none;
}


/*
 * 对话框内容
 */
.dialog li{
    margin: 10px 0;
}

.dialog .time{
    color: #999;
    font-size: 10px;
}
.dialog .yourself{
    color: #2FEEBD;
}


.sendMessage{
    padding: 5px;
    text-align: center;
}

.sendMessage input{
    padding: 5px;
}

.sendMessage button{
    padding: 5px 10px;
    border: 0;
    color: #FFF;
    transition: background 0.3s;
}
.sendMessage button[type=button]{
    background: indianred;
}
.sendMessage button[type=button]:hover{
    background: darkred;
}
